::-webkit-input-placeholder {
    color: #b9b9b9;
}
::-moz-placeholder {
    color: #b9b9b9;
}
:-ms-input-placeholder {
    color: #b9b9b9;
}
:-moz-placeholder {
    color: #b9b9b9;
}

.form {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 60px auto;
}

.form__header {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
    margin: 30px auto;
}

.form__input {
    height: 50px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
    border-radius: 50px;
    border: 0px;
    outline: none;
    background: rgba(255,2555,255,0.1);
    color: #fff;
}

.form__input:focus {
    background: rgba(255,2555,255,0.3);
}

.form__btn {
    height: 46px;
    border: 0px;
    font-size: 22px;
}

.form__btn_submit {
    margin-top: 10px;
    width: 100%;
}

.form__btn_submit:hover {
    background: #614585;
    color: #fff;
}

.form__btn_submit__text {
    -o-transition:.0s;
    -ms-transition:.0s;
    -moz-transition:.0s;
    -webkit-transition:.0s;
    transition:.0s;
}

.form__btn_social {
    width: 50%;
    display: inline-block;
    margin: 10px 0px;
	padding: 7px 10px;
	text-decoration: none;
}

.form__btn_social-vk {
    background: #4a76a8;
    color: #fff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form__btn_social-vk:hover {
    background: #5a8ac2;
}

.form__btn_social-google {
    background: #de4b39;
    color: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form__btn_social-google:hover {
    background: #eb6250;
}

.gp {
    font-weight: bold;
}



.input-error {
	margin-bottom: 10px;
	background: rgba(202, 96, 96, 0.502);
}

.error-message {
	display: block;
	max-width: 97%;
	margin: 0 auto 10px auto;
	top: -5px;
}

.error-general {
    top: 5px;
}

.error-message-active {
	color: rgb(221, 221, 221);
	background: rgba(165, 54, 54, 0.781);
	padding: 5px;
	border-radius: 50px;
	position: relative;
	font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .form__header {
        font-size: 30px;
        margin: 15px auto;
    }

    .form__input {
        height: 30px;
        margin: 5px auto;
        font-size: 16px;
    }

    .form__btn {
        height: 30px;
        font-size: 16px;
        padding-top: 5px;
    }
    
    .form__btn_submit {
        margin-top: 10px;
    }

    .form__btn_social img {
        height: 16px;
	}
	
	.error-message {
		top: -2px;
	}

	.error-message-active {
		font-weight: normal;
	}
}

@media screen and (max-width: 640px) {
	.form__btn {
        width: 95%;
	}
	
	.form__input {
		width: 95%;
	}

	.form__btn_social {
		width: 47%;
	}

	.error-message {
		max-width: 90%;
	}
}

/* CSS LOADER */

.loader {
    width:100%;
    height: 21px;
    margin:auto;
    text-align: center;
}

.circleG {
	background-color:rgb(221,221,221);
	display: inline-block;
	height:21px;
	margin: 0 15px;
	width:21px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:1.24s;
		-o-animation-duration:1.24s;
		-ms-animation-duration:2.24s;
		-webkit-animation-duration:2.24s;
		-moz-animation-duration:2.24s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:20px;
		-o-border-radius:20px;
		-ms-border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
}

.circleG_1 {
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

.circleG_2 {
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

.circleG_3 {
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}



@keyframes bounce_circleG {
	0% {}

	50% {
		background-color:rgb(97,69,133);
	}

	100% {}
}

@-o-keyframes bounce_circleG {
	0% {}

	50% {
		background-color:rgb(97,69,133);
	}

	100% {}
}

@-ms-keyframes bounce_circleG {
	0% {}

	50% {
		background-color:rgb(97,69,133);
	}

	100% {}
}

@-webkit-keyframes bounce_circleG {
	0% {}

	50% {
		background-color:rgb(97,69,133);
	}

	100% {}
}

@-moz-keyframes bounce_circleG {
	0% {}

	50% {
		background-color:rgb(97,69,133);
	}

	100% {}
}

@media screen and (max-width: 1200px) {
    .circleG {
        height:15px;
        width: 15px;
    }
}