@import '../../styles/constants';

.menu {
    font-size: $menu-font-size;
    color: $color-light;
    text-align: center;
    max-width: 400px;
    cursor: pointer;
    margin: auto;

    &__item {
        padding: 5px 20px;
    }
    
    &__item:hover {
        background: $menu-background-hovered;
    }
    
    &__item__link {
        color: $color-light;
        text-decoration: none;
    }
}

@media screen and (max-width: 1080px) {
    .menu {
        font-size: $menu-font-size-small;
    }
}
