@import 'constants';

* {
    margin: 0px;
    padding: 0px;
    -o-transition: $animation-delay;
    -ms-transition: $animation-delay;
    -moz-transition: $animation-delay;
    -webkit-transition: $animation-delay;
    transition: $animation-delay;
}

.clearfix {
    content: "";
    clear: both;
    display: block;
}

.template-active {
    opacity: 1;
    visibility: visible;
    margin-bottom: 20px;
}

.template-disabled {
    -o-transition: $animation-disabled;
    -ms-transition: $animation-disabled;
    -moz-transition: $animation-disabled;
    -webkit-transition: $animation-disabled;
    transition: $animation-disabled;
    opacity: 0;
    visibility: hidden;
}

.template-active {
    -o-transition: $animation-template;
    -ms-transition: $animation-template;
    -moz-transition: $animation-template;
    -webkit-transition: $animation-template;
    transition: $animation-template;
}

.animation-disabled {
    -o-transition: $animation-disabled !important;
    -ms-transition: $animation-disabled !important;
    -moz-transition: $animation-disabled !important;
    -webkit-transition: $animation-disabled !important;
    transition: $animation-disabled !important;
}

/* LISTS STYLE */

.list {
    list-style: none;
}

.list__item {
    margin: 10px;
}

.list__item_hor {
    display: inline-block;
}

/* BUTTONS STYLE */

.btn {
    display: inline-block;
    padding: 7px 40px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: $font-size-common;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 40px;
    outline: none;
    background: rgb(221, 221, 221);

    &_common {
        color: $btn-color-common;
        background: $btn-bg-common;
        text-decoration: none;
    }

    &_common:hover {
        background: $color-light;
    }

    &_inverse {
        color: $btn-color-common;
        background: $color-light;
        text-decoration: none;
    }

    &_inverse:hover {
        background: $btn-bg-common;
        color: $btn-color-common;
    }

    &_small {
        padding: 0px 10px;
    }
}

/* MAIN STYLES */

main {
    width: 100%;
    height: calc(100% - #{$header-height-big});
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.block_inline {
    display: inline-block;
}

.block {
    margin: auto;
    position: relative;
}

.block_w40p {
    width: 39%;
}

.block_w50p {
    width: 49%;
}

.block_w60p {
    width: 59%;
}

.return-link {
    color: rgba(250, 255, 255, 0.5);
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
}

.return-link:hover {
    color: #fff;
    text-decoration: underline;
}

@media screen and (max-width: 1080px) {
    .return-link {
        font-size: $font-size-small;
        margin: 15px auto 5px auto;
    }
}

@media screen and (max-width: 640px) {

    html, body {
        overflow: auto;
    }

    main {
        display: block;
        //top: #{$header-height-big};
        height: calc(100% - #{$header-height-big})
    }

    .block_w50p {
        width: 100%;
        display: block;
    }

    .block_w40p {
        width: 100%;
        display: block;
    }
    
    .block_w60p {
        width: 100%;
        display: block;
    }

    .btn {
        font-size: $font-size-small;
    }

    .return-link {
        font-size: $font-size-common;
        margin: 15px auto 5px auto;
    }
}

@media screen and (max-width: 448px) {
    main {
        top: #{$header-logo-size};
        height: calc(100% - #{$header-height-big} - #{$header-logo-size})
    }
}