.scores__wrapper {
    width: 90%;
    margin: auto;
}

.scores__header {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    position: center;
    width: 90%;
    margin: 30px auto;
}

.scores__table__tr_you {
    background-color:rgba(208, 212, 235, 0.274);
}

.scores__table__tr_additional {
    border-top: 3px solid #fff;
}

.scores__medal {
    width: 35px;
    margin: auto;
}

.rating {
    padding: 7px;
    border-radius: 50px;
}

.rating_positive {
    background: #19802a;
    font-weight: bold;
}

.rating_negative {
    background: #801919;
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .scores__table_email {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .scores__table_games {
        display: none;
    }

    .scores__table {
        font-size: 14px;
    }
}