.scores__table {
    border-collapse: collapse;
    margin: 40px auto;
    table-layout: fixed;
    width: 90%;
    border-bottom: 3px solid #fff;
}

.scores__header {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    position: center;
    width: 90%;
    margin: 30px auto;
}

.scores__table__th {
    background: #fff;
    text-align: center;
    font-weight: bold;
    color: #2f164e;
    white-space: nowrap; 
    overflow: hidden;
    height: 35px;
    border-bottom: 5px solid rgba(255, 255, 255, 0);;
    padding: 8px;
    width: 10%;
    min-width: 50px;
}

.scores__table__td {
    text-align: center;
    color: #fff;
    white-space: nowrap; 
    overflow: hidden;
    height: 40px;
    font-weight: bold;
    padding: 8px;
    width: 10%;
    min-width: 50px;
}

.scores__table_big {
    width: 30%;
    padding: 8px 20px;
}

.scores__medal {
    width: 35px;
    margin: auto;
}

.rating {
    padding: 7px;
    border-radius: 50px;
}

.rating_positive {
    background: #19802a;
    font-weight: bold;
}

.rating_negative {
    background: #801919;
    font-weight: bold;
}

.scores__table__tr:hover {
    background-color:rgba(208, 212, 235, 0.5);
}

@media screen and (max-width: 750px) {
    .scores__table_email {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .scores__table_games {
        display: none;
    }
}