.avatar-holder {
	width: 400px;
	margin: 0 auto 50px auto;
	text-align: center;
}

.avatar__img {
	width: 350px;
	height: 350px;
	border-radius: 500px;
}

.avatar__img_bordered {
	border: 4px solid #fff;
}