@import '../../styles/constants';

.avatar {
	&-holder {
		width: 400px;
		margin: 0 auto 50px auto;
		text-align: center;
	}
	
	&__img {
		width: $avatar-size;
		height: $avatar-size;
		border-radius: 500px;
	}
	
	&__img_bordered {
		border: 4px solid $color-light;
	}
}

@media screen and (max-width: 750px) {
	.avatar-holder {
		width: 300px;
	}
	
	.avatar__img {
		width: $avatar-size-small;
		height: $avatar-size-small;
	}
}

@media screen and (max-width: 600px) {
	.avatar-holder {
		width: 200px;
	}
}