.scene-holder
    canvas.scene
.game-meta
    .timer
    .players-scores
        .sc_player.game-id-1
            .sc_avatar
                img
            .sc_nickname
                | Temp
            .sc_score
                | 0
        .sc_player.game-id-2
            .sc_avatar
                img
            .sc_nickname
                | Temp
            .sc_score
                | 0
        .sc_player.game-id-3
            .sc_avatar
                img
            .sc_nickname
                | Temp
            .sc_score
                | 0
        .sc_player.game-id-4
            .sc_avatar
                img
            .sc_nickname
                | Temp
            .sc_score
                | 0