.scene-holder
    canvas.scene
.game-meta
    .timer
    .players-scores
        .player.game-id-1
            .avatar
                img
            .nickname
                | Temp
            .score
                | 0
        .player.game-id-2
            .avatar
                img
            .nickname
                | Temp
            .score
                | 0
        .player.game-id-3
            .avatar
                img
            .nickname
                | Temp
            .score
                | 0
        .player.game-id-4
            .avatar
                img
            .nickname
                | Temp
            .score
                | 0