mixin mmbr(player, isOwner)
    .member__avatar.member__property
        img(src=player.avatar, alt="")
    .member__nickname.member__property #{player.name}
    if isOwner
        div(class=`member__remove member__remove-${player.name} member__property`) &#10006;

if newMmbr
    +mmbr(newMmbr, isowner)