header.header
	.header__container.header__container_right
		ul.header__list.list
			li.list__item.list__item_hor
				a(href='/login').header__link.header__link_btn.btn LOGIN
			li.list__item.list__item_hor
				a(href='/signup').header__link SIGN UP
