@import '../../styles/constants';

.header {
    width: 100%;
    height: $header-height-big;

    &__container {
        padding: 0px 20px;

        &_left {
            float: left;
        }

        &_right {
            float: right;
            height: 80px;
        }
    }

    &__logo {
        font-size: $header-logo-size;
        font-weight: bold;
        color: $color-light;
        text-align: center;
        margin: $header-logo-y-margins 10px;
    }

    &__logo_hided {
        opacity: 0;
    }

    &__logo__link {
        text-decoration: none;
        display: block;
        color: $color-light;
    }

    &__logo__smile {
        width: $header-logo-size;
        height: $header-logo-size;
        position: relative;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__list {
        margin-top: 9px;
        text-align: center;
    }

    &__link {
        color: $color-light;
        text-decoration: none;
        font-size: $font-size-common;
    }

    &__link_btn {
        background: linear-gradient(90deg, $bg-grad-start, $bg-grad-end);
    }

    &__link_btn:hover {
        background: linear-gradient(90deg, $bg-grad-end, $bg-grad-end) !important; 
        text-decoration: none;
        color: $btn-color-common;
    }
}

.auth_menu {
    padding: 8px 0;
}

.sub_btn {
    display: block;
    color: $color-light;
    padding: 2px 10px;
    cursor: pointer;
    background: $header-loggedin-menu-btn;
    border-radius: 50px;

    &:hover {
        background: $header-loggedin-menu-btn-hov;
    }
}

.user_section {
    display: block;
    height: 80px;

    &__avatar {
        padding: 6px;
        height: $header-avatar-size;
        width: $header-avatar-size;
        border-radius: 100px;
        float: left;
    }

    &__nickname {
        float: right;
        margin: auto;
        display: block;
        padding: 15px 8px;
        font-size: $font-size-common;
        -o-transition: $animation-disabled;
        -ms-transition: $animation-disabled;
        -moz-transition: $animation-disabled;
        -webkit-transition: $animation-disabled;
        transition: $animation-disabled;
    }

    &__nickname__arrow {
        display: block;
        float: right;
        font-size: 10px;
        padding: 5px 8px;
    }
}

.submenu {
    position: relative;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
    transition: .5s ease-in-out;
    list-style: none;
    margin: auto;
    height: 0px;
}

.submenu__item {
    text-align: center;
    margin-top: 5px;
}

.submenu__item__link {
    color: $color-light;
    text-decoration: none;
    padding: 10px;
    display: block;

    &:hover {
        background: $header-loggedin-submenu-btn-hov;
    }
}



.user_section > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
    height: auto;
}

@media screen and (max-width: 1080px) {
    .header {
        height: $header-height-small;

        &__link {
            font-size: $font-size-small;
        }
        
        &__container {
            padding: 0px;
        }
    }
}

@media screen and (max-width: 640px) {
    .submenu__item {
        background-color: $header-loggedin-submenu-filled;
    
        &:hover {
            background-color: $header-loggedin-submenu-filled-hov;
        }
    }

}

@media screen and (max-width: 520px) {
    .header {
        &__logo {
            font-size: $header-logo-size-small;
            margin: $header-logo-y-margins-small 5px;
        }
        
        &__logo__smile {
            width: $header-logo-size-small;
            height: $header-logo-size-small;
            position: relative;
        } 
    }
    
    .user_section {
        &__avatar {
            padding: 6px;
            height: $header-avatar-size-small;
            width: $header-avatar-size-small;
        }
        
        &__nickname {
            padding: 18px 8px;
            font-size: $font-size-small;
        }
    }
}

@media screen and (max-width: 450px) {
    .header {
        &__container_left {
            float: none;
        }
    
        &__logo {
            margin: 10px auto;
        }
        
        &__container_right {
            float: none;
            height: auto;
        }
    }
}
