.logo
	a(href='/').logo__link
		| C
		img(src='/' + require('../../images/smile.svg')).logo__smile.logo__smile_first
		| L
		img(src='/' + require('../../images/smile_winked.svg')).logo__smile.logo__smile_second
		| R&nbsp;&nbsp;IT