.logo {
	font-size: 100px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin: auto;
}

.logo__link {
	text-decoration: none;
	display: block;
	color: #fff;
}

.logo__smile {
	width: 100px;
	height: 100px;
	position: relative;
}

.logo__smile_first {
	animation-name: jump;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 4s;
	animation-delay: 2s;
}

@keyframes jump {
	0% {
		top: 0px;
	}

	2% {
		top: -40px;
	}

	4% {
		top: -55px;
	}

	5% {
		top: -60px;
	}

	6% {
		top: -55px;
	}

	8% {
		top: -40px;
	}

	10%, 100% {
		top: 0px;
	}
}

@media screen and (max-width: 1200px) {
	.logo {
		font-size: 50px;
	}

	.logo__smile {
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width: 640px) {
	.logo {
		margin-bottom: 40px;
	}
}
