.gameover
    .gameover__result.gameover__result-win 
        | CONGRATULATIONS! YOU WON! WE ARE PROUD OF YOU!
    .gameover__result.gameover__result-lost
        | WHAT A SILLY PERFORMANCE! YOU LOST! SHAME ON YOU!
    .gameover__player.gameover__player-1
        .go_avatar
            img
        .go_nickname
            | Temp
        .go_score
            | 0
    .gameover__player.gameover__player-2
        .go_avatar
            img
        .go_nickname
            | Temp
        .go_score
            | 0
    .gameover__player.gameover__player-3
        .go_avatar
            img
        .go_nickname
            | Temp
        .go_score
            | 0
    .gameover__player.gameover__player-4
        .go_avatar
            img
        .go_nickname
            | Temp
        .go_score
            | 0