.gameover
    .gameover__result.gameover__result_win 
        | YOU WON!
        .gameover__msg CONGRATULATIONS! WE ARE PROUD OF YOU!
    .gameover__result.gameover__result_lost
        | YOU LOST!
        .gameover__msg WHAT A SILLY PERFORMANCE! SHAME ON YOU!
    .gameover__result.gameover__result_draw
        | IT'S A DRAW!
        .gameover__msg WHOA! IT WAS LIKE FIGHT WITH A MIRROR!
    .gameover__player.gameover__player-1
        span.go_place
        .players__container
    .gameover__player.gameover__player-2
        span.go_place
        .players__container
.back-to-game
    a(href='/').btn.btn_common Play Again